body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 22px;
    background-color: darkslateblue;
}
@font-face {
font-family: "APfont";
src: url("apf.ttf");
}







#lijevosad{
    float:left;
    width: 900px;
    padding-top: 20px;
    margin-left: 20px;
    color: white;
    text-align: justify;
    background-color:darkslateblue;
}
#lijevoprva{
    width: 900px;
    padding-top: 20px;
    margin-left: 4%;
    color: white;
    text-align: justify;
    background-color:darkslateblue;
}

#s1{
    float:left;
    width: 250px;
    height: 180px;
    padding-top: 8px;
    padding-right: 16px;
}
#s2{
    float: right;
    width: 250px;
    height: 180px;
     padding-top: 8px;
    padding-left: 16px;
}


.slikekon{
    text-align: center;
    margin-left: 35%;
    
}
.slikekon1{
    text-align: center;
    margin-left: 35%;
}



.slike{
    width: 32%;
    display: inline-block; 
    
}
.slike1{
    width: 25%;
    display: block;
}

h1{
    color: white;
    padding-top: 5%;
    margin-left: 34%;
}
.video {
	width: 70%;
	marglin-left: 35%;
	
    
}
.ytvideo {
	width: 70%;
	marglin-left: 35%;
}

