body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 22px;
    background-color:#333131;
}
@font-face {
font-family: "APfont";
src: url("apf.ttf");
}
#div {
	 width: 900px;
    padding-top: 20px;
    margin-left: 35%;
    color: white;
    text-align: justify;
    background-color: #333131;

}
#div1 {
	
	width: 500px;
	height: 625px;
	align-content: center;
	
	background: url("slike/mar1.jpeg");
	border: 1px solid thin #B4B392;
	transition: 7s ease-out;
	
	
	
}
#div1:hover {
	background: url("slike/mar2.jpeg");
	
}
#div2{
	margin-top:150px;
	width: 500px;
	height: 667px;
	transform: translate3d(-50px,-100px,-300px);
	transform-style: preserve-3d;
	opacity: .5;
	background: url("slike/mar3.jpg");
	
}
#div3{
	background: url("slike/mar3.jpg");
	margin-top:150px;
	width: 500px;
	height: 667px;
	transform-style: preserve-3d;
	animation: a1 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	
}
@keyframes a1 {
	from {transform: translateX(0);}
	to {transform: translateX(-100px);}
}
@-webkit-keyframes a1 {
	from {transform: translateX(0);}
	to {transform: translateX(-100px);}
}

#div4{
	margin-top:150px;
	width: 500px;
	height: 667px;
	transform: scale3d(.7,.7,.2);
	transform-style: preserve-3d;
	background: url("slike/mar4.jpg");
}
#div5{
	margin-top:150px;
	width: 500px;
	height: 667px;
	
	transform-style: preserve-3d;
	background: url("slike/mar4.jpg");
	animation: a2 15s linear infinite;
}
@keyframes a2 {
	from {transform-origin: 50% 50%;}
	to {transform: rotate(360deg);}
}
@-webkit-keyframes a2 {
	from {transform-origin: 50% 50%;}
	to {transform: rotate(180deg);}
}
#div6{
	margin-top:150px;
	width: 500px;
	height: 667px;
	transform: skew(20deg,5deg);
	transform-style: preserve-3d;
	background: url("slike/mar5.jpg");
	animation: a3 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}
@keyframes a3 {
	from {transform-origin: 50% 50%;}
	to {transform: rotate(360deg);}
}
@-webkit-keyframes a3 {
	from {transform-origin: 50% 50%;}
	to {transform: rotate(90deg);}
}
#div7{
	margin-top:150px;
	width: 500px;
	height: 667px;
	background: url("slike/mar6.jpg");
	cursor: pointer;
	animation: a4 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}
#div7:active{
	opacity: .5;
}
@keyframes a4 {
	from {transform: scale(1,1);}
	to {transform: scale(1.2,1.2);}
}
@-webkit-keyframes a4 {
	from {transform: translateX(0);}
	to {transform: translateX(-100px);}
}